body {
    background-color: #222; /* Dark background color */
    color: #fff; /* Light text color */
    font-family: Arial, sans-serif;
}

.cv {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333; /* Dark container background color */
    display: flex;
}

.left-column {
    flex: 1; 
    padding: 20px;
}

.right-column {
    flex: 2; 
    padding: 20px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

.skills {
    margin-top: 20px;
}

.skill {
    margin-top: 10px;
}

.skill-bar {
    background-color: #0077B5; /* LinkedIn's blue color */
    color: #fff; /* Light text color */
    padding: 5px;
    text-align: right;
    border-radius: 5px;
}
